<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MappingModelContainer" connectionString="metadata=res://*/Models.MappingModel.csdl|res://*/Models.MappingModel.ssdl|res://*/Models.MappingModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\DataBase.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>